<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
      canvas {
        border: 6px double black;
        background: white;
      }

     /* img {
        display: none;
      }*/

      button {
        padding: 8px;
      }
    </style>

  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #923a7a!important">
    <a class="navbar-brand" href="/">Mr.Co0K BOT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Какая то страничка<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">еще страничка</a>
        </li>
      </ul>
      <div id="logindiv">
      <form  id="tokenform" class="form-inline my-2 my-lg-0">
        <input id="token" class="form-control mr-sm-2" type="text" placeholder="token" aria-label="token">
        <button id="auth" class="btn btn-outline-light my-2 my-sm-0" style="color: #420f48; border-color: #420f48;" onclick="return false;">Sign in</button>
      </form>
      </div>
    </div>
  </nav>
  <style>
    body {
      background: #61264a ; /* Цвет фона и путь к файлу */
      color: #fff; /* Цвет текста */
    }
  </style>
  <p>
    <a id="mazebutton" class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Переключить 1-ый элемент</a>
  </p>
  <div class="row" style="margin-right: 0px!important;">
    <div class="col" style="width: 700px!important; height: 700px!important;">
      <div class="collapse multi-collapse" style="width: 700px!important; height: 700px!important;" id="multiCollapseExample1">
        <div class="card card-body" >
          <canvas id="canvas"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div>
  </div>
  <img id="face" style="display: none!important;" src="images/face.png">

  </body>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <script>
    var socket = io();
  </script>


  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script
          src="https://code.jquery.com/jquery-3.3.1.js"
          integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
          crossorigin="anonymous"></script>

  <script src="javascripts/auth.js"></script>
  <script src="javascripts/maze.js"></script>
 <!-- <script src="/javascripts/apendnews.js"></script>-->
</html>
